* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.05);
	color: #1a1a1a;
	display: flex;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 100%;
	justify-content: center;
	min-height: 100vh;
	padding-left: 20px;
	padding-right: 20px;
}

.container {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	flex-grow: 1;
	margin: 0 auto;
	max-width: 400px;
	padding: 30px;
	text-align: center;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1.25rem;
}

h2 {
	font-size: 1.25rem;
	font-weight: 400;
	margin-bottom: 1.75rem;
}

p {
	margin-bottom: 1.75rem;
}

button {
	background-color: blue;
	border-radius: 0.25rem;
	border: 0;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	padding: 1rem 1.75rem;
	text-transform: uppercase;
	user-select: none;
}

button:hover {
	background-color: darkblue;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
